/* ###########################################################################*/
/* ###########################################################################*/
/* # PHONE: SMALL SCREEN-------------------------------------------------------*/
/* ###########################################################################*/
/* ###########################################################################*/

@media (max-width: 499px) {
 .carousel-item {height:850px}
  #template-mo-zay-hero-carousel {height:850px}
  #heading_text{font-size: 30px !important; font-family: 'Comforter Brush', cursive; color:#212934 !important}
  #gear_table{font-size: 14px  !important}
  #races_table{font-size: 14px !important}
  #selector_gear_brand{font-size: 14px !important; padding:0 0 0 3px; min-width:75px}
  #selector_gear_type{font-size: 14px !important; padding:0 0 0 3px; min-width:75px}
  #selector_gear_category{font-size: 14px !important; padding:0 0 0 3px; min-width:75px}
  #selector_gear_sports{font-size: 14px !important; padding:0 0 0 3px; min-width:75px}
  #ironman_results{font-size: 12px !important}
  #engineering_table{font-size: 12px !important}
  .links {font-size: 12px !important}
  #ironman_picture{width:50%; height:50%; margin-left: auto; margin-right: auto; display: block;}
}

/* ###########################################################################*/
/* ###########################################################################*/
/* # BIG SCREEN---------------------------------------------------------------*/
/* ###########################################################################*/
/* ###########################################################################*/
@media (min-width: 500px) {
 .carousel-item {height:660px}
#template-mo-zay-hero-carousel {height:660px}
#heading_text{font-size: 45px !important; font-family: 'Comforter Brush', cursive; color:#212934 !important}
#gear_table{font-size: 18px !important}
#races_table{font-size: 18px !important}
#selector_gear_brand{font-size: 16px !important; padding:1px 1px 1px 5px}
#selector_gear_type{font-size: 16px !important; padding:1px 1px 1px 5px}
#selector_gear_category{font-size: 16px !important; padding:1px 1px 1px 5px}
#selector_gear_sports{font-size: 16px !important; padding:1px 1px 1px 5px}
#ironman_results{font-size: 14px !important}
#engineering_table{font-size: 14px !important}
.links {font-size: 14px !important}
}
